<p>Passwort f端r Freequiz Konto zur端cksetzen (<%= @username %>)</p>

<p>Bitte besuchen sie den folgenden Link um ihr Passwort zur端ck zu setzen.<br>
------------------<br>
<a href="<%= user_password_edit_url password_reset_token: @token %>">Passwort zur端cksetzen</a></p>

Vielen Dank, ihr Freequiz Team