<p>Wilkommen bei Freequiz <%= @user.username %>!</p>

<p>Bitte besuchen sie den folgenden Link um ihre E-Mail Adresse zu bestätigen.<br>
------------------<br>
<a href="<%= user_verify_url(verification_token: @token) %>">E-Mail bestätigen</a></p>

Vielen Dank, ihr Freequiz Team