<div>
    <% indent.times do %>
        <span class="indent"></span>
    <% end %>
    <%= link_to path, data: { admin__api_navbar_target: "link", id: id } do %>
        <span><%= index %></span>
        <span class="underline"><%= link_name %></span>
    <% end %>
</div>