<%= render layout: "api_navbar" do %>
    <div id="bearer" class="section">
        <h1>Bearer token</h1>
        Authentication header must be set to "Bearer 3b589393da6bc000705e75c9ae2fec24442fe09bad96b1f31645f9813abc1924" for every request
    </div>
<% end %>