<%= render layout: "api_navbar" do %>
    <div id="create" class="section">
        <h1>Create Bug report</h1>
        <p>
            <a href="https://freequiz.ch/api/bug/create">https://freequiz.ch/api/bug/create</a>
        </p>
        <p>
            <h3>Request method: PUT</h3>
        </p>
        <p>
            <h3>Authorization</h3>
            No valid Access-token header is required
        </p>
        <p>
            <h3>Content</h3>
<pre><code class="lang-json" data-controller="prism" data-controller="prism">{
    "bug_report": {
        "title": "title",
        "body": "body",
        "url": "url",
        "platform": "platform",
        "user_agent": "user_agent"
    }
}</code></pre>
        </p>
        <p>
            <h3>Response</h3>
            Status code: 201
<pre><code class="lang-json" data-controller="prism">{
    "success": true,
    "message": "Bug report created"
}</code></pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li>
                    <strong>Invalid fields (record.invalid)</strong>: Code 422, "Could not create bug report", title or body are either to short or missing
                    <pre><code class="lang-json" data-controller="prism">{
    "success": false,
    "token": "record.invalid",
    "errors": {
        "title": [{
            "error": "too_short",
            "count": 3
        }]
    },
    "message": "Could not create bug report"
}</code></pre>
                </li>
            </ul>
        </p>
    </div>
<% end %>