<%= render layout: "api_navbar" do %>
    <div>
        <h1 class="text-start">Invalid Bearer token</h1>
        <h3 class="text-start">Response</h3>
        Status code: 401
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": false,
    "token": "bearer_token.invalid",
    "message": "Invalid bearer token"
}</code></pre>
    </div>
    <hr>

    <div>
        <h1 class="text-start">Invalid Access token</h1>
        <h3 class="text-start">Response</h3>
        Status code: 401
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": false,
    "token": "access_token.invalid",
    "message": "Access token is invalid"
}</code></pre>
    </div>
    <hr>

    <div>
        <h1 class="text-start">User is banned</h1>
        <h3 class="text-start">Response</h3>
        Status code: 401
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": false,
    "token": "user.banned",
    "reason": "Ban reason"
}</code></pre>
    </div>
<% end %>