<div class="container-fluid mt-2">
  <div class="row">
    <%= render partial: "api_navbar" %>

    <div class="col-9">
      <!-- content -->
      Base path: <a href="https://freequiz.herokuapp.com/api/v1">https://freequiz.herokuapp.com/api/v1</a>
    </div>
  </div>
</div>