<%= render layout: "api_navbar" do %>
  <div id="path" class="section">
    <h1>Base path</h1>
    <a href="https://freequiz.herokuapp.com/api">https://freequiz.herokuapp.com/api</a>
  </div>
  <hr>

  <div class="content_type" class="section">
    <h1>Content type</h1>
    Content-Type is application/json unless specified otherwise
  </div>
<% end %>