<%= render layout: "api_navbar" do %>
    <div>
        <h1 class="text-start">Get language list</h1>
        <p>
            <a href="https://freequiz.ch/api/languages">https://freequiz.ch/api/languages</a>
        </p>
        <p>
            <h3 class="text-start">Request method: GET</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 200
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "data": {
        "1": {
            "name": "german",
            "locale": "de"
        },
        "2": {
            "name": "french",
            "locale": "fr"
        },
        ...
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            No errors (<%= link_to "general errors", api_docs_general_errors_path %> apply)
        </p>
    </div>
<% end %>