<%= render layout: "api_navbar" do %>
    <div id="create" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Create</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/create">https://freequiz.ch/api/quiz/create</a>
        </p>
        <p>
            <h3 class="text-start">Request method: PUT</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            Translations attributes is a hash. They keys are non-important, they just need to be unique. For quiz creation the destroy attribute does not need to be set, altough it can be. To prevent a translation from being created you can either submit an empty word and translation value or set the destroy attribute to a value which evaluates to true i.e. 1, "1", true or "true".
<pre><code class="lang-json" data-controller="admin--prism">{
    "quiz": {
  	    "title": "title",
        "description": "description",
        "visibility": "public/private/hidden",
        "from": "language ID",
        "to": "language ID",
        "translations_attributes": {
            "0": {
                "word": "Baum",
                "translation": "Tree",
                "_destroy": "0"
            },
            "1": {
                "word": "Katze",
                "translation": "Cat",
                "_destroy": "0"
            }
        }
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 201
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Quiz created",
    "quiz_data": {
        "id": "kAXbF",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "favorite": false,
        "from": {
            "id": "1",
            "name": "german",
            "locale": "de"
        },
        "to": {
            "id": "3",
            "name": "english",
            "locale": "en"
        },
        "data": [{
            "id": 1,
            "score_id": 1,
            "word": "Baum",
            "translation": "Tree",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "id": 2,
            "score_id": 2,
            "word": "Strasse",
            "translation": "Road",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Missing fields (fields.missing)</strong>: Code 400, "Missing title, description, from, to or visibility"</li>
                <li><strong>Requirements not met (record.invalid)</strong>: Code 400, "Some parameters don't meet requirements"</li>
                <li><strong>Translation amount (translations.notenough)</strong>: Code 400, "Not enough translations", make sure there is at least one translation with non empty fields</li>
                <li><strong>Quiz couldn't be saved (record.invalid)</strong>: Code 422, "Something went wrong whilst creating the quiz", more info in "errors"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="delete_token" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Delete Token</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/delete_token">https://freequiz.ch/api/quiz/quiz_id/delete_token</a><br>
            Replace quiz_id with the ID of the Quiz to be deleted
        </p>
        <p>
            <h3 class="text-start">Request method: GET</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 200
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "token": "delete_token",
    "expire": 1673811699
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Quiz not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed (user.notallowed)</strong>: Code 401, "User is not allowed to manage this Quiz"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="delete" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Delete</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/delete/delete_token">https://freequiz.ch/api/quiz/quiz_id/delete/delete_token</a><br>
            Replace quiz_id with the ID of the Quiz to be deleted<br>
            Replace delete_token with token gotten by <a href="#delete_token">this request</a>
        </p>
        <p>
            <h3 class="text-start">Request method: DELETE</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 200
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Quiz deleted"
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Quiz not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed (user.notallowed)</strong>: Code 401, "User is not allowed to manage this Quiz"</li>
                <li><strong>Expired (token.expired)</strong>: Code 401, "Token expired"</li>
                <li><strong>Invalid (token.invalid)</strong>: Code 401, "Token is invalid"</li>
            </ul>
        </p>
    </div>

    <div id="data" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Data</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/data">https://freequiz.ch/api/quiz/quiz_id/data</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: GET</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 200
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "quiz_data": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "created_by": "username",
        "owner": true,
        "avatar_url": "avatar url of the owner" or ""
        "favorite": false,
        "from": {
            "id": "3",
            "name": "english",
            "name_translated": "Englisch",
            "locale": "en"
        },
        "to": {
            "id": "1",
            "name": "german",
            "name_translated": "Deutsch",
            "locale": "de"
        },
        "data": [{
            "id": 1,
            "score_id": 1,
            "word": "Tree",
            "translation": "Baum",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "id": 2,
            "score_id": 2,
            "word": "Fish",
            "translation": "Fisch",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}</code></pre>
If no user is logged in the data attribute will look like this
<pre><code class="lang-json" data-controller="admin--prism">{
    "data": [{
        "word": "Tree",
        "translation": "Baum"
    }, {
        "word": "Fish",
        "translation": "Fisch"
    }]
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed (user.notallowed)</strong>: Code 401, "User is not allowed to view Quiz"</li>
            </ul>
        </p>
    </div>
    <hr>

<div id="search" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Search</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/search/page?query=title">https://freequiz.ch/api/quiz/search/page?query=title</a><br>
            Replace page with desired page. If omitted page 1 will be used. Returns 50 users per page<br>
            Replace title with quiz title you are looking for
        </p>
        <p>
            <h3 class="text-start">Request method: GET</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 200
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "data": [{
            "id": "id",
            "title": "title",
            "description": "description",
            "visibility": "public",
            "translations": 1,
            "favorite": false,
            "from": {
                "id": "1",
                "name": "german",
                "locale": "de"
            },
            "to": {
                "id": "3",
                "name": "english",
                "locale": "en"
            }
        },
        {
            "id": "id",
            "title": "title",
            "description": "description",
            "visibility": "public",
            "translations": 10,
            "favorite": false,
            "from": {
                "id": "1",
                "name": "german",
                "locale": "de"
            },
            "to": {
                "id": "3",
                "name": "english",
                "locale": "en"
            }
        }
    ]
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            No errors (<%= link_to "general errors", api_docs_general_errors_path %> apply)
        </p>
    </div>
    <hr>

    <div id="update" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Update</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/update">https://freequiz.ch/api/quiz/quiz_id/update</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            To add more translations a unique key, usually the current time in milliseconds, is used. But counting upwards works as well. Notice that there is no ID field for a new translation.
            <br>
            To update an existing translation the ID field must be set to the translation ID (ID field returned for each translation in quiz data).
            <br>
            To remove an existing translation the destroy attribute must be set to a truthy value i.e. 1, "1", true or "true". As with updating a translation the ID field must be set.
<pre><code class="lang-json" data-controller="admin--prism">{
    "quiz": {
        "title": "title",
        "description": "description",
        "visibility": "public/private/hidden",
        "from": "language ID",
        "to": "language ID",
        "translations_attributes": {
            "0": {
                "id": "id",
                "word": "Baum",
                "translation": "Tree",
                "_destroy": "0"
            },
            "1": {
                "word": "Katze",
                "translation": "Cat",
                "_destroy": "0"
            }
        }
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Quiz updated",
    "quiz_data": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "favorite": false,
        "from": {
            "id": "1",
            "name": "german",
            "locale": "de"
        },
        "to": {
            "id": "3",
            "name": "english",
            "locale": "en"
        },
        "data": [{
            "id": 1,
            "score_id": 1,
            "word": "Baum",
            "translation": "Tree",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "id": 2,
            "score_id": 2,
            "word": "Strasse",
            "translation": "Road",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist or is not owned by user"</li>
                <li><strong>Couldn't save Quiz (record.invalid)</strong>: Code 400, "Something went wrong whilst saving the Quiz", more info in "errors"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="favorite_quiz" class="pt-16 -mt-16 mb-5" data-section="true">
        <h1 class="text-start">Favorite quiz</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/favorite">https://freequiz.ch/api/quiz/quiz_id/favorite</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
<pre><code class="lang-json" data-controller="admin--prism">{
    "favorite": true
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Quiz was added to favorites",
    "favorite": true
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="favorites" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Favorites</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score/score_id/favorite">https://freequiz.ch/api/quiz/quiz_id/score/score_id/favorite</a><br>
            Replace quiz_id with the ID of the target Quiz
            <br>
            Replace score_id with the ID of the score of the translation you would like to favorite / unfavorite
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
<pre><code class="lang-json" data-controller="admin--prism">{
  	"favorite": true / false
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Favorites updated",
    "updated_data": [{
        "id": 1,
        "score_id": 1,
        "word": "Baum",
        "translation": "Tree",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }, {
        "id": 2
        "score_id": 2,
        "word": "Strasse",
        "translation": "Road",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }]
}</code></pre>
If no user is logged in the data attribute will look like this
<pre><code class="lang-json" data-controller="admin--prism">{
    "data": [{
        "word": "Tree",
        "translation": "Baum"
    }, {
        "word": "Fish",
        "translation": "Fisch"
    }]
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Relationship mismatch (relation.mismatch)</strong>: Code 401, "Score does not belong to specified quiz"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="score" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Score</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score/score_id/mode">https://freequiz.ch/api/quiz/quiz_id/score/score_id/mode</a><br>
            Replace quiz_id with the ID of the target Quiz<br>
            Replace score_id with the ID of the target score<br>
            Replace mode with the target mode i.e. cards, write, smart or multi
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            The integer provided overrides the specified mode for the specified score
<pre><code class="lang-json" data-controller="admin--prism">{
  	"score": 1
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Score updated",
    "updated_data": [{
        "id": 1,
        "score_id": 1,
        "word": "Baum",
        "translation": "Tree",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }, {
        "id": 2,
        "score_id": 2,
        "word": "Strasse",
        "translation": "Road",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }]
}</code></pre>
If no user is logged in the data attribute will look like this
<pre><code class="lang-json" data-controller="admin--prism">{
    "data": [{
        "word": "Tree",
        "translation": "Baum"
    }, {
        "word": "Fish",
        "translation": "Fisch"
    }]
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Relationship mismatch (relation.mismatch)</strong>: Code 401, "Score does not belong to specified quiz"</li>
                <li><strong>Fields invalid (fields.invalid)</strong>: Code 401: "Invalid mode"</li>
                <li><strong>Missing fields (fields.missing)</strong>: Code 400, "Missing score"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="sync_score" class="pt-16 -mt-16" data-section="true">
        <h1 class="text-start">Synchronize score</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score/sync">https://freequiz.ch/api/quiz/quiz_id/score/sync</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            Anything returned in the <code>quiz_data</code> field returned by a <a href="#data">quiz data request</a> can be sent to this endpoint. The <code>quiz_data</code> object must be encapsulated in a <code>quiz</code> object like demonstrated below.
            <br>
            Everything in the root <code>quiz_data</code> object is ignored except for the <code>favorite</code> field. If there is a mismatch between the servers version and the version sent it will override the servers version with the field provided by the API caller.
            <br>
            The <code>score</code> and <code>favorite</code> attributes for each translation are not ignored either and will override the data saved on the server if all the following conditions are matched:
            <br>
            <ul class="translate-x-5 list-disc">
                <li>An <code>updated</code> field is provided at the root of the translation object</li>
                <li>The <code>updated</code> field contains the current Unix timestamp in seconds</li>
                <li>The provided Unix timestamp is from a later time than when the score for this translation was last updated</li>
            </ul>
            If the <code>updated</code> field is not present of <code>null</code> nothing will be updated no matter what.
            <br>
            <br>
            <strong>It's important that the four score fields and the <code>favorite</code> field are provided for each translation. As it will lead to undefinded values if a translation is deemed outdated and updated with non defined values</strong>
<pre><code class="lang-json" data-controller="admin--prism">{
  	"quiz": quiz_data
}</code></pre>

<pre><code class="lang-json" data-controller="admin--prism">{
    "quiz": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "created_by": "username",
        "owner": true,
        "favorite": false,
        "from": {
            "id": "3",
            "name": "english",
            "name_translated": "Englisch",
            "locale": "en"
        },
        "to": {
            "id": "1",
            "name": "german",
            "name_translated": "Deutsch",
            "locale": "de"
        },
        "data": [{
            This translation score / favorite will be updated if the timestamp is never than the one on the server
            "id": 1,
            "score_id": 1,
            "word": "Tree",
            "translation": "Baum",
            "favorite": true,
            "updated": Unix timestamp,
            "score": {
                "smart": 1,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            Nothing will be updated here
            "id": 2,
            "score_id": 2,
            "word": "Fish",
            "translation": "Fisch",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}
</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "quiz_data": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "created_by": "username",
        "owner": true,
        "favorite": false,
        "from": {
            "id": "3",
            "name": "english",
            "name_translated": "Englisch",
            "locale": "en"
        },
        "to": {
            "id": "1",
            "name": "german",
            "name_translated": "Deutsch",
            "locale": "de"
        },
        "data": [{
            "id": 1,
            "score_id": 1,
            "word": "Tree",
            "translation": "Baum",
            "favorite": true,
            "score": {
                "smart": 1,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "id": 2,
            "score_id": 2,
            "word": "Fish",
            "translation": "Fisch",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="reset_score" class="pt-16 -mt-16 mb-5" data-section="true">
        <h1 class="text-start">Reset score</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score/reset/mode">https://freequiz.ch/api/quiz/quiz_id/score/reset/mode</a><br>
            Replace mode with smart, write, multi or cards<br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: PATCH</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
            No content
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 202
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Score was reset for mode smart/write/multi/cards",
    "updated_data": [{
        "id": 1,
        "score_id": 1,
        "word": "Baum",
        "translation": "Tree",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }, {
        "id": 2,
        "score_id": 2,
        "word": "Strasse",
        "translation": "Road",
        "favorite": false,
        "score": {
            "smart": 0,
            "write": 0,
            "multi": 0,
            "cards": 0
        }
    }]
}</code></pre>
If no user is logged in the data attribute will look like this
<pre><code class="lang-json" data-controller="admin--prism">{
    "data": [{
        "word": "Tree",
        "translation": "Baum"
    }, {
        "word": "Fish",
        "translation": "Fisch"
    }]
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Fields invalid (fields.invalid)</strong>: Code 401: "Invalid mode"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="report" class="pt-16 -mt-16 mb-5" data-section="true">
        <h1 class="text-start">Report Quiz</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/report">https://freequiz.ch/api/quiz/quiz_id/report</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3 class="text-start">Request method: POST</h3>
        </p>
        <p>
            <h3 class="text-start">Content</h3>
<pre><code class="lang-json" data-controller="admin--prism">{
    "quiz_report": {
        "description": "description",
        "sexual": false,
        "violence": false,
        "hate": false,
        "spam": false,
        "child_abuse": false,
        "mobbing": false
    }
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Response</h3>
            Status code: 201
<pre><code class="lang-json" data-controller="admin--prism">{
    "success": true,
    "message": "Quiz reported"
}</code></pre>
        </p>
        <p>
            <h3 class="text-start">Errors</h3>
            <ul>
                <li><strong>Not found (quiz.notfound)</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Fields invalid (fields.invalid)</strong>: Code 401: "Record invalid"</li>
            </ul>
        </p>
    </div>
<% end %>