<%= render layout: "api_navbar" do %>
    <div id="create" class="section">
        <h1>Create</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/create">https://freequiz.ch/api/quiz/create</a>
        </p>
        <p>
            <h3>Request method: PUT</h3>
        </p>
        <p>
            <h3>Content</h3>
            <pre>
{
    "quiz": {
  	    "title": "title",
        "description": "description",
        "visibility": "public/private/hidden",
        "from": "language ID",
        "to": "language ID",
        "data": [
            {"w": "Baum", "t": "Tree"},
            {"w": "Strasse", "t": "Road"}
        ]
    }
}
            </pre>
        </p>
        <p>
            <h3>Response</h3>
            Status code: 201
            <pre>
{
    "success": true,
    "message": "Quiz created",
    "quiz_data": {
        "id": "kAXbF",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "from": {
            "id": "1",
            "name": "german",
            "locale": "de"
        },
        "to": {
            "id": "3",
            "name": "english",
            "locale": "en"
        },
        "data": [{
            "w": "Baum",
            "t": "Tree",
            "hash": "d42064",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "w": "Strasse",
            "t": "Road",
            "hash": "6beab0",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Missing fields</strong>: Code 400, "Missing title, description, from, to or visibility"</li>
                <li><strong>Requirements not met</strong>: Code 400, "Some parameters don't meet requirements"</li>
                <li><strong>Translation amount</strong>: Code 400, "Not enough translations", make sure there is at least one translation with non empty fields</li>
                <li><strong>Quiz couldn't be saved</strong>: Code 422, "Something went wrong whilst creating the quiz", more info in "errors"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="delete_token" class="section">
        <h1>Delete Token</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/delete_token">https://freequiz.ch/api/quiz/quiz_id/delete_token</a><br>
            Replace quiz_id with the ID of the Quiz to be deleted
        </p>
        <p>
            <h3>Request method: GET</h3>
        </p>
        <p>
            <h3>Content</h3>
            No content
        </p>
        <p>
            <h3>Response</h3>
            Status code: 200
            <pre>
{
    "success": true,
    "token": "delete_token",
    "expire": 1673811699
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Quiz not found</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed</strong>: Code 401, "User is not allowed to manage this Quiz"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="delete" class="section">
        <h1>Delete</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/delete/delete_token">https://freequiz.ch/api/quiz/quiz_id/delete/delete_token</a><br>
            Replace quiz_id with the ID of the Quiz to be deleted<br>
            Replace delete_token with token gotten by <a href="#delete_token">this request</a>
        </p>
        <p>
            <h3>Request method: DELETE</h3>
        </p>
        <p>
            <h3>Content</h3>
            No content
        </p>
        <p>
            <h3>Response</h3>
            Status code: 200
            <pre>
{
    "success": true,
    "message": "Quiz deleted"
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Quiz not found</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed</strong>: Code 401, "User is not allowed to manage this Quiz"</li>
                <li><strong>Expired</strong>: Code 401, "Token expired"</li>
                <li><strong>Invalid</strong>: Code 401, "Token is invalid"</li>
            </ul>
        </p>
    </div>

    <div id="data" class="section">
        <h1>Data</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/data">https://freequiz.ch/api/quiz/quiz_id/data</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3>Request method: GET</h3>
        </p>
        <p>
            <h3>Content</h3>
            No content
        </p>
        <p>
            <h3>Response</h3>
            Status code: 200
            <pre>
{
    "success": true,
    "quiz_data": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "created_by": "username",
        "owner": true,
        "from": {
            "id": "3",
            "name": "english",
            "locale": "en"
        },
        "to": {
            "id": "1",
            "name": "german",
            "locale": "de"
        },
        "data": [{
            "w": "Tree",
            "t": "Baum",
            "hash": "7a250d",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "w": "Fish",
            "t": "Fisch",
            "hash": "27c8e0",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Not found</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Not allowed</strong>: Code 401, "User is not allowed to view Quiz"</li>
            </ul>
        </p>
    </div>
    <hr>

<div id="search" class="section">
        <h1>Search</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/search/page?query=title">https://freequiz.ch/api/quiz/search/page?query=title</a><br>
            Replace page with desired page. If omitted page 1 will be used. Returns 50 users per page<br>
            Replace title with quiz title you are looking for
        </p>
        <p>
            <h3>Request method: GET</h3>
        </p>
        <p>
            <h3>Content</h3>
            No content
        </p>
        <p>
            <h3>Response</h3>
            Status code: 200
            <pre>
{
    "success": true,
    "data": [{
            "id": "id",
            "title": "title",
            "description": "description",
            "visibility": "public",
            "translations": 1,
            "from": {
                "id": "1",
                "name": "german",
                "locale": "de"
            },
            "to": {
                "id": "3",
                "name": "english",
                "locale": "en"
            }
        },
        {
            "id": "id",
            "title": "title",
            "description": "description",
            "visibility": "public",
            "translations": 10,
            "from": {
                "id": "1",
                "name": "german",
                "locale": "de"
            },
            "to": {
                "id": "3",
                "name": "english",
                "locale": "en"
            }
        }
    ]
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            No errors (<%= link_to "general errors", api_docs_general_errors_path %> apply)
        </p>
    </div>

    <div id="update" class="section">
        <h1>Update</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/update">https://freequiz.ch/api/quiz/quiz_id/update</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3>Request method: PATCH</h3>
        </p>
        <p>
            <h3>Content</h3>
            <pre>
{
    "quiz": {
  	    "title": "title",
        "description": "description",
        "visibility": "public/private/hidden",
        "from": "language ID",
        "to": "language ID",
        "data": [
            {"w": "Baum", "t": "Tree"},
            {"w": "Strasse", "t": "Road"}
        ]
    }
}
            </pre>
        </p>
        <p>
            <h3>Response</h3>
            Status code: 202
            <pre>
{
    "success": true,
    "message": "Quiz updated",
    "quiz_data": {
        "id": "id",
        "title": "title",
        "description": "description",
        "visibility": "public",
        "from": {
            "id": "1",
            "name": "german",
            "locale": "de"
        },
        "to": {
            "id": "3",
            "name": "english",
            "locale": "en"
        },
        "data": [{
            "w": "Baum",
            "t": "Tree",
            "hash": "d42064",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }, {
            "w": "Strasse",
            "t": "Road",
            "hash": "6beab0",
            "favorite": false,
            "score": {
                "smart": 0,
                "write": 0,
                "multi": 0,
                "cards": 0
            }
        }]
    }
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Not found</strong>: Code 404, "Quiz doesn't exist or is not owned by user"</li>
                <li><strong>Couldn't save Quiz</strong>: Code 400, "Something went wrong whilst saving the Quiz", more info in "errors"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="favorites" class="section">
        <h1>Favorites</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/favorites">https://freequiz.ch/api/quiz/quiz_id/favorites</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3>Request method: PATCH</h3>
        </p>
        <p>
            <h3>Content</h3>
            <pre>
{
  	"favorites": {
  		"add": ["translation hash"],
  		"remove": ["translation hash"]
  	}
}
            </pre>
        </p>
        <p>
            <h3>Response</h3>
            Status code: 202
            <pre>
{
    "success": true,
    "message": "Favorites updated"
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Not found</strong>: Code 404, "Quiz doesn't exist"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="score" class="section">
        <h1>Score</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score">https://freequiz.ch/api/quiz/quiz_id/score</a><br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3>Request method: PATCH</h3>
        </p>
        <p>
            <h3>Content</h3>
            Integers provided override the previous score. If no Integer is set for a specific mode it wont get updated. Available modes are smart, write, multi and cards
            <pre>
{
  	"score": {
  		"d42064": {"cards": 2, "multi": -1},
  		"6beab0": {"smart": 1},
      	"ab49c1": {"write": -2}
  	}
}
            </pre>
        </p>
        <p>
            <h3>Response</h3>
            Status code: 202
            <pre>
{
    "success": true,
    "message": "Score updated"
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Not found</strong>: Code 404, "Quiz doesn't exist"</li>
                <li><strong>Missing fields</strong>: Code 400, "Missing score"</li>
            </ul>
        </p>
    </div>
    <hr>

    <div id="reset_score" class="section mb-5">
        <h1>Reset score</h1>
        <p>
            <a href="https://freequiz.ch/api/quiz/quiz_id/score/reset/mode">https://freequiz.ch/api/quiz/quiz_id/score/reset/mode</a><br>
            Replace mode with smart, write, multi or cards<br>
            Replace quiz_id with the ID of the target Quiz
        </p>
        <p>
            <h3>Request method: PATCH</h3>
        </p>
        <p>
            <h3>Content</h3>
            No content
        </p>
        <p>
            <h3>Response</h3>
            Status code: 202
            <pre>
{
    "success": true,
    "message": "Score was reset for mode smart/write/multi/cards"
}
            </pre>
        </p>
        <p>
            <h3>Errors</h3>
            <ul>
                <li><strong>Not found</strong>: Code 404, "Quiz doesn't exist"</li>
            </ul>
        </p>
    </div>
<% end %>