<h1>Removed Transactions</h1>
<div class="flex mb-2">
    <%= link_to "Back to Transactions", admin_transactions_path, class: "grow btn-secondary" %>
</div>

<div class="mt-2 flex flex-col gap-2">
    <% @transactions.each do |transaction| %>
        <%= render partial: "transaction", locals: { transaction: } %>
    <% end %>
</div>