<div class="container text-center">
    <h1 class="my-4">Removed Transactions</h1>
    <%= link_to "Back to Transactions", admin_transactions_path, class: "btn btn-secondary" %>
    <div>
        <% for transaction in @transactions do %>
            <%= render partial: "transaction", locals: { transaction: transaction } %>
        <% end %>
    </div>
</div>