<h1><%= tp "search" %></h1>

<%= render partial: "partials/quiz_search", locals: { url: search_path } %>
<%= render partial: "partials/quiz_list", locals: { quizzes: @quizzes } %>
<%= render partial: "partials/page_navigator", locals: { pages: @pages, params: @params } %>
