<h1>Security Policy</h1>

<p class="my-2">This security policy was last updated on August 20, 2024</p>

<p class="my-2">For simplicity's sake and to avoid translation errors the <%= link_to "Terms of Service", terms_of_service_path %>, <%= link_to "Privacy Policy", privacy_policy_path %> and <%= link_to "Security Policy", security_policy_path %> are only available in English.</p>

<p class="mt-5 mb-2">We take the security and integrity of Freequiz very seriously. If you have found a vulnerability, please report it ASAP so we can quickly remediate the issue.</p>

<h2 class="text-start mt-5">How to Disclose a Vulnerability</h2>

<p class="my-2">For vulnerabilities that impact the confidentiality, integrity, and availability of Freequiz services, please send your disclosure via <a href="mailto:info@freequiz.ch">email</a>. For non-security related platform bugs use our bug submission menu available in your account tab in the navigation bar.</p>

<h2 class="text-start mt-5">Submission Guidelines</h2>

<p class="my-2">Do not engage in activities that might cause a denial of service condition, create significant strains on critical resources, or negatively impact users of the site outside of test accounts.</p>

<p class="mt-5">Security Policy based on <a href="https://monkeytype.com/security-policy">Monkeytypes security policy</a></p>