.flip-body {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card {
    transform-style: preserve-3d;
    transition: transform .5s
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-container {
    width: 800px;
    height: 400px;
    perspective: 10000px;
}

.flip-card-side {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    font-size: 50px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.w-800 {
    width: 800px;
}