<% if @target.present? %>
    <div class="container text-center">
        <h1 class="my-4"><%= tp("user", @target.username) %></h1>

        <div id="user-quizzes">
            <% for quiz in @quizzes do %>
                <%= render partial: "partials/quiz_card", locals: {quiz: quiz} %>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="text-center">
        <h1 class="my-4"><%= tp("not_found") %></h1>
        <h1><%= link_to tg("homepage"), root_path %></h1>
    </div>
<% end %>