<style>
    .quiz-card {
        background: #abf7b1;
        border: 2px solid #5ced73;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
</style>

<div class="container">
    <%= link_to quiz_show_path("16") do %>
        <div>Hello</div>
    <% end %>
</div>