<div class="container text-center" data-controller="toast-button" data-target="#deleteToast">
    <h1><%= tp("delete_account") %></h1>
    <h3><%= tp("not_reversible") %></h3>
    <br>
    <%= link_to tp("delete"), user_delete_path(@token), class: "btn btn-danger btn-sm", id: "delete-btn", data: {
        turbo_confirm: tp("sure_to_delete"),
        turbo_method: :delete
    } %>
    <%= link_to tp("cancel"), user_path, class: "btn btn-secondary btn-sm" %>
</div>