<style>
    .row div h4 {
    }
</style>

<div class="container mt-1">
    <div class="d-flex w-100 justify-content-center">
        <h1>Ihr Freequiz Konto</h1>
    </div>
    <div class="row text-center">
        <div class="col-sm-4"><h4>Quizzes</h4></div>
        <div class="col-sm-4"><h4>Lerngruppen</h4></div>
        <div class="col-sm-4"><h4>Private Kontoinformationen</h4></div>
    </div>
</div>