#api-navbar {
    a {
        text-decoration: none;
    }

    a .underline {
        text-decoration: underline;
    }

    .indent {
        margin-left: 20px;
    }

    .active {
        color: darkblue;
    }
}