<h1>Do you really want to delete Quiz "<%= @quiz.title %>"</h1>

<div class="flex justify-center gap-2">
    <%= button_to "Fuck yeah!", @destroy_path, method: :delete, class: "btn-danger", data: { turbo_confirm: "Are you sure you want to delete Quiz \"#{@quiz.title}\"?" } %>
    <%= link_to "Cancel", @cancel_path, class: "btn-secondary" %>
</div>
