<%= content_for :title, "Beta Blocker" %>
<div class="d-flex justify-content-center align-items-center" style="height: 50vh; width: 100vw;">
    <div class="d-block text-center">
        <h1>Nur Beta Tester dürfen hier hin</h1><br>
        <h4>Wenn du Interesse hättest ein Beta Tester zu werden schreib mir eine <a href="mailto:lkoe@bluewin.ch">E-Mail</a></h4>
    </div>
</div>