<%= content_for :title, "Beta Blocker" %>
<div class="d-flex justify-content-center align-items-center" style="height: 50vh; width: 100vw;">
    <div class="d-block text-center">
        <h1><%= t("errors.beta_wall.only_beta") %></h1>
        <h4><%= t("errors.beta_wall.send_email").html_safe %></h4>
    </div>
</div>