<% @locale_path = "views.errors.not_allowed" %>
<div class="container text-center mt-3" style="height: 70vh;">
    <h1 class="w-100"><%= tp("title") %></h1>
    <h3><%= tp("return") %> <%= link_to tp("homepage"), root_path %></h3><br>
    <%= image_tag "errors/not_allowed.jpg", height: "100%" %>
</div>
