<div class="d-flex justify-content-center pb-2 input-group" data-controller="translation">
    <%= form.text_field "data[][w]", class: "form-control", placeholder: tp("word"), value: word, data: { test_id: "quiz-translation-#{id}-word" } %>
    <%= form.text_field "data[][t]", class: "form-control", placeholder: tp("translation"), value: translation, data: { test_id: "quiz-translation-#{id}-translation" } %>
    <div class="input-group-text">
        <div class="btn-close delete-translation" role="button" aria-label="Delete" data-action="click->translation#delete"></div>
    </div>
</div>