<h1><%= tp "really_delete", quiz: @quiz.title %></h1>

<div class="flex justify-center gap-2">
    <%= button_to tp("delete"), quiz_delete_path(@quiz.uuid, @token), method: :delete, class: "btn-danger", data: { turbo_confirm: tp("sure_to_delete") } %>
    <%= link_to tp("cancel"), quiz_show_path(@quiz.uuid), class: "btn-primary" %>
</div>
