<div class="d-flex justify-content-center mt-3">
    <div class="text-center">

        <% if Time.now < @user.confirmation_expire  %>
            <h1>Ein Link wurde zu ihrer E-Mail Adresse geschickt</h1>
            <h3>Bitte klicken sie auf den Link in dieser E-mail um ihr Konto zu bestätigen</h3>
            <h3>Der Link wird am <%= @user.confirmation_expire.to_formatted_s :long %> ablaufen</h3>

        <% else %>
            <h1>Der Link, der zu ihrere E-mail Adresse geschickt wurde, ist abgeloffen</h1>
            <h3>Sie können <%= link_to "hier", user_verification_send_path %> einen neuen anfordern</h3>

        <% end %>

        <%= image_tag "freequiz/freequiz_logo_big.png", height: "300vh", class: "mt-3" %>
    </div>
</div>