.link-card {
    background: #abf7b1;
    border: 2px solid #5ced73;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
    text-decoration: none;
    color: black;

    display: block;
    width: 100%;
}

.link-card:hover {
    color: black;
}

.link-card h3 {
    text-align: center;
}

h1 {
    text-align: center;
}