@media (min-width: 1500px) {
    .notification {
        width: 33%;
    }

    #search-form {
        width: 30%;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .notification {
        width: 45%;
    }

    #search-form {
        width: 40%;
    }
}

@media (min-width: 500px) and (max-width: 1200px) {
    .notification {
        width: 60%;
    }

    #search-form {
        width: 55%;
    }
}

@media (max-width: 500px) {
    .notification {
        width: 100%;
    }
}